# 1.What are the two values of the Boolean data type? How do you write them?

In [41]:
'''
ANSWER

The Boolean data type in Python represents two values: True and False.
These values are used to represent the truthiness or falseness of a condition or expression.

To write them in Python:

True: This represents a true or affirmative value.
False: This represents a false or negative value.
'''

'\nANSWER\n\nThe Boolean data type in Python represents two values: True and False.\nThese values are used to represent the truthiness or falseness of a condition or expression.\n\nTo write them in Python:\n\nTrue: This represents a true or affirmative value.\nFalse: This represents a false or negative value.\n'

In [42]:
x = True
y = False

if x:
    print("x is True")

if not y:
    print("y is False")

x is True
y is False

#2. What are the three different types of Boolean operators?

'''
In Python, there are three primary Boolean operators that are used to manipulate and compare Boolean values. These operators are:


1. AND Operator: The and operator returns True if both operands (the values on its left and right) are True. Otherwise, it returns False.


2. OR Operator: The or operator returns True if at least one of its operands is True. It returns False only if both operands are False.


3. NOT Operator: The not operator is a unary operator that returns the opposite Boolean value of its operand.If the operand is True, not will return False, and if the operand is False, not will return True.
'''

#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [43]:
# import module
from tabulate import tabulate

# assign data
mydata = [
    ["Operand 1", "Operand 2	","Result"],
      ["False","False","False"],
["False	"," True","	True"],
["True","	False","	True"],
["True	","True	","True"]
]

# display table
print('OR_Operator')
print(tabulate(mydata))

#-----------------------------------------


# assign data
AND_Operator = [
    ["Operand 1", "Operand 2	","Result"],
      ["False","False","False"],
["False	"," True","	False"],
["True","	False","	False"],
["True	","True	","True"]
]

# display table
print('AND_Operator')
print(tabulate(AND_Operator))

#-----------------------------------------


from tabulate import tabulate
NOT_Operator = [
["Operand","Result"],
["False	"," True"],
["True","	False"],

]
print('NOT_Operator')
print(tabulate(NOT_Operator))

OR_Operator
---------  ---------  ------
Operand 1  Operand 2  Result
False      False      False
False      True       True
True       False      True
True       True       True
---------  ---------  ------
AND_Operator
---------  ---------  ------
Operand 1  Operand 2  Result
False      False      False
False      True       False
True       False      False
True       True       True
---------  ---------  ------
NOT_Operator
-------  ------
Operand  Result
False    True
True     False
-------  ------




#4. What are the values of the following expressions?

In [44]:
(5 > 4) and (3 == 5)

False

In [45]:
not (5 > 4)

False

In [46]:
(5 > 4) or (3 == 5)

True

In [47]:
not ((5 > 4) or (3 == 5))

False

In [48]:
(True and True) and (True == False)

False

In [49]:
(not False) or (not True)

True

#5. What are the six comparison operators?

In Python, there are six comparison operators that allow you to compare values and determine the relationship between them.

1.== (Equal): Checks if two values are equal to each other.
Example: a == b returns True if a is equal to b, otherwise False.

2.!= (Not Equal): Checks if two values are not equal to each other.
Example: a != b returns True if a is not equal to b, otherwise False.

3.< (Less Than): Checks if the left value is less than the right value.
Example: a < b returns True if a is less than b, otherwise False.

4.> (Greater Than): Checks if the left value is greater than the right value.
Example: a > b returns True if a is greater than b, otherwise False.

5.<= (Less Than or Equal To): Checks if the left value is less than or equal to the right value.
Example: a <= b returns True if a is less than or equal to b, otherwise False.

6.>= (Greater Than or Equal To): Checks if the left value is greater than or equal to the right value.
Example: a >= b returns True if a is greater than or equal to b, otherwise False.

#6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

      1. Equal to Operator (==):

Purpose: The equal to operator is used for comparison. It checks if the values on both sides of the operator are equal.
Example: a == b checks whether the value of a is equal to the value of b.
Usage: You would use the equal to operator in conditions or expressions where you want to compare values to determine if they are the same. For example:

In [50]:
  '''if user_input == "password123":

    print("Access granted")'''

'if user_input == "password123":\n\n  print("Access granted")'

    2.Assignment Operator (=):

Purpose: The assignment operator is used to assign a value to a variable.
It assigns the value on the right side to the variable on the left side.

In [51]:
'''username = "john_doe"

    age = 25  '''

'username = "john_doe"\n\n    age = 25  '

#7. Identify the three blocks in this code:

In [52]:
spam = 0
if spam == 10:
    print('eggs')        # indent increased, block A
    if spam > 5:         # still block A
        print('bacon')   # still block A, indent increased, block B inside block A
    else:                # still block A, indent decreased, block B ended in line above
        print('ham')     # still block A, indent increased, block C inside block A
    print('spam')        # still block A, indent decreased, block C ended in line above
print('spam')            # indent decreased, block A ended in line above

spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [53]:
spam = int(input("Enter a number: "))  # Assuming user input for the value of spam

if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Enter a number: 9
Greetings!

#9.If your programme is stuck in an endless loop, what keys you’ll press?

Ctrl + C (Control key and the C key simultaneously) to send an interrupt signal to the running program.

#10. How can you tell the difference between break and continue?

break:

Purpose: The break statement is used to exit the current loop prematurely. When break is encountered within a loop, it immediately terminates the loop's execution and continues with the code after the loop.

In [54]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        print("Found it!")
        break

Found it!

continue:

Purpose: The continue statement is used to skip the current iteration of the loop and move on to the next iteration. When continue is encountered within a loop, it skips the remaining code in the current iteration and goes to the next iteration of the loop.

In [55]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        continue  # Skip processing the number 3
    print(num)

1
2
4
5

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

for all the three cases thr output will be same

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [58]:


for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [59]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [61]:
#spam.bacon()